{% extends "base.html"%}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% load static %}
<div class="loginBox"> <img class="user" src="{% static '/images/icon.png'%}" height="100px" width="100px">
    <h3>登入</h3>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}


        <div class="inputBox">
            <input id="username" type="text" name="Username" placeholder="用戶名稱">
            <input id="password" type="password" name="Password" placeholder="密碼">
        </div>
        <input type="submit" name="" value="Login">
        <input type="hidden" name="next" value="{{ next }}"/>

        {% if next %}
        <a href="{{ next }}" class="btn btn-primary">Next</a>
        {% else %}
        <p>請檢查你的帳號密碼是否無誤</p>
        {% endif %}

    </form>
    <a href="">重設密碼?<br> </a>
</div>
{% endblock %}
