{% extends "base.html"%}
{% block content %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    <label for="username">用戶名稱:</label>
    <input type="text" name="username" id="username" value="{{ username }}" />
</div>
<div>
    <label for="password">密碼:</label>
    <input type="password" name="password" id="password" />
</div>
<div>
    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>

{% if next %}
<a href="{{ next }}" class="btn btn-primary">Next</a>
{% else %}
<p>請檢查你的帳號密碼是否無誤</p>
{% endif %}

<p><a href="{% url 'password_reset' %}">重設密碼?</a></p>

{% endblock %}
