{% extends "focus_base.html"%}

{% block title%}註冊{% endblock %}

{% block style %}
{{ block.super }}
<style>
    .auth-component {
        display: none;
    }

    .register-btn {
        font-size: 2rem;
        color: rgb(165, 165, 165);
        padding-left: 10px;
    }

    .register-btn:hover {
        color: #62567e;
    }


    label {
        display: none;
    }

    button {
        text-align: center;
    }

    .card {
        background: #FFFDFA;
        border: 1px solid #e5e5e581;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 5%;
    }

    .card-header {
        background-color: transparent;
    }

    .user {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px
    }

    .form-group {
        margin-bottom: 0;
    }

    form {
        padding-top: 20px;
    }

    button[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        font-size: 16px;
        background: #62567e;
        color: #fff;
        border-radius: 20px;
        cursor: pointer
    }

    button[type="submit"]:hover {
        background: #8c7cb4;
        color: #fff;
    }

    .input-group input {
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid #262626;
        outline: none;
        height: 40px;
        color: #000000;
        background: transparent;
        font-size: 16px;
        padding-left: 20px;
        box-sizing: border-box
    }

    .input-group input:focus,
    .input-group input:hover {
        border-bottom: 3px solid #b3a4db
    }

    .card-header span {
        font-size: 2rem;
        padding-right: 10px;
        border-right: 2px solid rgb(90, 90, 90);
    }
</style>
{% endblock %}

{% block content %}
<div class="main-panel d-flex justify-content-center animate__animated animate__fadeInDownBig">
    <div class="card">
        {% load static %}
        <img class="user" src="{% static '/images/icon.png'%}" height="100px" width="100px">
        <div class="card-header text-center">
            <span>註冊</span><a class="register-btn" href="{% url 'login' %}">登入</a>
        </div>
        <div class="form-group">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="display_name" maxlength="16" placeholder="顯示名稱" required id="id_display_name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="username" maxlength="16" autocapitalize="none" autocomplete="username"
                            autofocus="" placeholder="用戶名稱" title="最多16個字" required id="id_username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="password" autocomplete="new-password" placeholder="密碼"
                            title="請輸入密碼" required id="id_password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="password_confirm" autocomplete="new-password" placeholder="確認密碼"
                            title="再輸入一次" required id="id_password_confirm">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="contact_number" maxlength="10" placeholder="聯絡電話" required id="id_contact_number">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-block"><i class="fa fa-check"></i>註冊</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}