* {
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

/* 讓往下滑動流暢 */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

a:hover {
    color: white;
    /* 移除底線 */
    text-decoration: none;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar-brand img{
    /*圖片是沒有置中, 所以做8px補償*/
    position: relative;
    top: -8px
}

.sector-name {
    font-size: 1.2rem;
}

