{% extends "base.html" %}

{% block script %}
<script>
$(function () {
    $('[data-toggle="popover"]').popover('toggle');
    $('[data-toggle="popover"]').popover({
        trigger: 'focus'
    });
    $('[data-toggle="popover"]').focus();
});
</script>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand navbar-light py-4">
  <!-- Navbar content -->
  <div class="navbar-brand navbar-seprator">
    {% load static %}
    <img src="{% static '/images/icon.png'%}" alt="" width="45" height="45">
    <span>Tak<a class="portal-link" tabindex="0" data-toggle="popover" data-placement="bottom" data-content="點選O可以切換用戶身份" href="/" style="color: #fab46d">o</a>Eats</span>
  </div>
  <a class="sector-name text-muted my-auto" data-toggle="popover" data-placement="right" data-content="點選這裡可以回到專區首頁" href="">外送員專區</a>
</nav>
{% endblock %}

{% block content %}

{% endblock %}