{% extends "homepage_base.html" %}

{% block sector_name %}商戶專區{% endblock %}
{% block sector_link %}{% url 's' %}{% endblock %}

{% block content %}
<!-- Nav tabs -->
<div class="row justify-content-between">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Home</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...
        </div>
    </div>
</div>


{% endblock %}